.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 110%;
  flex-grow: 1;
}
h2 {
  font-size: 1.1rem;
  margin-top: 0;
  text-align: left;
}
form {
  padding-top: 10px;
}

img {
  width: 35px;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  box-shadow: px #888888;
  border-color: rgb(97, 96, 96);

}


.container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 50px 0 50px;
  height: 100vh;
}
select {
  padding: 10px;
  margin: 0 20px;
  border-radius: 20px;
  border: none;
}
button {
  border-radius: 20px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #c09d03;
}
label span {
  font-size: 1.5rem;
  font-weight: bold;
}

.delButton {
  cursor: pointer;
}